* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  background-color: #FCFBFF;
  font-family: "DM Sans", sans-serif;
}

h2 {
  font-size: 32px;
}

.header,
.main {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header .wrap {
  height: 80px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrap .logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #244D4D;
  font-size: 24px;
  cursor: pointer;
}
.header .wrap .menu {
  list-style-type: none;
  width: 470px;
  display: flex;
  justify-content: space-between;
}
.header .wrap .menu a {
  padding: 5px 10px;
  text-decoration: none;
  color: #161616;
}
.header .wrap .right-nav {
  color: #244D4D;
  display: flex;
  gap: 20px;
}
.header .wrap .right-nav .serch {
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}
.header .wrap .right-nav .burger-menu {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}
.header .wrap .right-nav .burger-menu div {
  height: 3px;
  background-color: #244D4D;
}
.header .wrap .right-nav .burger-menu .line-h {
  width: 15px;
}
.header .wrap .right-nav .burger-menu .line-c {
  width: 24px;
}
.header .wrap .right-nav .burger-menu .line-l {
  width: 15px;
  margin-left: 9px;
}

.banner {
  display: flex;
  align-items: flex-start;
  align-items: stretch;
  color: #FFFFFF;
  overflow: hidden;
  margin-bottom: 140px;
}
.banner .left-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .left-item img {
  height: 100%;
  width: auto;
}
.banner .right-item {
  width: auto;
  padding: 100px;
  background-color: #154444;
  font-size: 20px;
  line-height: 125%;
  flex-shrink: 1;
}
.banner .right-item h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
}
.banner .right-item .text {
  max-width: 470px;
  padding: 20px 0 35px 0;
}
.banner .right-item button {
  background-color: #FFFFFF;
  padding: 15px 25px;
  color: #154444;
  border: 1px solid #154444;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s;
}
.banner .right-item button:hover {
  background-color: #305F64;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.partners {
  padding: 0 40px;
  margin-bottom: 100px;
}
.partners .title {
  text-align: center;
  line-height: 120%;
  font-weight: 700;
  color: #244D4D;
}
.partners .logos {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  flex-wrap: wrap;
  gap: 20px;
}

.about-us {
  display: flex;
  align-items: center;
  margin-bottom: 175px;
}
.about-us .img-item {
  margin-right: 135px;
}
.about-us .img-item img {
  box-shadow: 35px 35px #DEE4E2, 0 35px #DEE4E2;
}
.about-us .text-item {
  max-width: 436px;
}
.about-us .text-item .title {
  color: #244D4D;
  line-height: 120%;
  padding-bottom: 20px;
}
.about-us .text-item .subtitle {
  font-size: 20px;
  line-height: 125%;
  padding-bottom: 40px;
  color: #444444;
}
.about-us .text-item .advantage {
  display: flex;
  gap: 30px;
}
.about-us .text-item .advantage h3 {
  font-size: 20px;
  color: #244D4D;
  padding-bottom: 18px;
}
.about-us .text-item .advantage p {
  font-size: 18px;
  line-height: 28px;
  color: #383738;
}
.about-us .text-item .advantage:not(:last-child) {
  padding-bottom: 30px;
}

.pop-furniture {
  margin-bottom: 140px;
}
.pop-furniture .title {
  color: #242424;
  padding-bottom: 20px;
}
.pop-furniture .aside {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 80px;
}
.pop-furniture .aside .text {
  max-width: 820px;
  font-size: 20px;
  line-height: 27px;
  color: #383738;
}
.pop-furniture .aside .control button {
  width: 40px;
  height: 40px;
  background-color: #F4F6F6;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}
.pop-furniture .aside .control button:first-child {
  margin-right: 16px;
}
.pop-furniture .items-furniture {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.pop-furniture .items-furniture .item {
  box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.0705882353);
}
.pop-furniture .items-furniture .item .image {
  margin-bottom: 30px;
}
.pop-furniture .items-furniture .item .block-top {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  margin-bottom: 20px;
}
.pop-furniture .items-furniture .item .block-top .name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #242424;
}
.pop-furniture .items-furniture .item .block-top .meta {
  display: flex;
  gap: 8px;
}
.pop-furniture .items-furniture .item .block-top .meta div {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ECF4FF;
  line-height: 30px;
  text-align: center;
  font-size: 9px;
  cursor: pointer;
  transition: 0.3s;
}
.pop-furniture .items-furniture .item .block-top .meta .active {
  background-color: #EF5423;
  color: #FFFFFF;
}
.pop-furniture .items-furniture .item .block-top .meta div:hover {
  background-color: #EF5423;
  color: #FFFFFF;
}
.pop-furniture .items-furniture .item .block-down {
  padding: 0 24px 27px;
  display: flex;
  justify-content: space-between;
}
.pop-furniture .items-furniture .item .block-down .price {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  color: #154444;
}
.pop-furniture .items-furniture .item .block-down button {
  padding: 10px 15px;
  background-color: #244D4D;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #244D4D;
  transition: 0.3s;
}
.pop-furniture .items-furniture .item .block-down button:hover {
  color: #244D4D;
  background-color: #FFFFFF;
}

.all-furniture {
  margin-bottom: 150px;
}
.all-furniture .title {
  text-align: center;
  color: #242424;
  line-height: 48px;
}
.all-furniture .switches {
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 27px;
  color: #919090;
  padding: 20px 0 90px 0;
}
.all-furniture .active {
  color: #154444;
  font-weight: 500;
}
.all-furniture .active p {
  padding-bottom: 7px;
}
.all-furniture .active .underline {
  width: 45%;
  background-color: #154444;
  height: 3px;
  margin: 0 auto;
}
.all-furniture .item-switch:hover {
  color: #154444;
  font-weight: 500;
}
.all-furniture .item-switch:hover p {
  padding-bottom: 7px;
}
.all-furniture .item-switch:hover .underline {
  width: 45%;
  background-color: #154444;
  height: 3px;
  margin: 0 auto;
}
.all-furniture .choice-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-furniture .choice-block .image {
  margin: 10px;
  position: relative;
}
.all-furniture .choice-block .image .left-top,
.all-furniture .choice-block .image .right-down {
  position: absolute;
  width: 190px;
  height: 85px;
  background-color: #154444;
}
.all-furniture .choice-block .image .left-top {
  top: -10px;
  left: -10px;
  z-index: -1;
}
.all-furniture .choice-block .image .right-down {
  right: -10px;
  bottom: -8px;
  z-index: -1;
}
.all-furniture .choice-block .choice-buttons {
  width: 475px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 222px);
  grid-template-rows: repeat(3, 90px);
}
.all-furniture .choice-block .choice-buttons button {
  color: #808080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border: 1.5px solid #D9DCE5;
  background-color: #FCFBFF;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
}
.all-furniture .choice-block .choice-buttons button i {
  display: block;
  color: #808080;
  font-size: 24px;
}
.all-furniture .choice-block .choice-buttons button i::before {
  color: #808080;
}
.all-furniture .choice-block .choice-buttons button span {
  display: block;
}
.all-furniture .choice-block .choice-buttons .active {
  background-color: #154444;
  border: 1px solid #154444;
}
.all-furniture .choice-block .choice-buttons .active i {
  color: #FFFFFF;
}
.all-furniture .choice-block .choice-buttons .active i::before {
  color: #FFFFFF;
}
.all-furniture .choice-block .choice-buttons .active span {
  color: #FFFFFF;
}
.all-furniture .choice-block .choice-buttons button:hover {
  background-color: #154444;
  border: 1px solid #154444;
}
.all-furniture .choice-block .choice-buttons button:hover i {
  color: #FFFFFF;
}
.all-furniture .choice-block .choice-buttons button:hover i::before {
  color: #FFFFFF;
}
.all-furniture .choice-block .choice-buttons button:hover span {
  color: #FFFFFF;
}

.our-customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-bottom: 140px;
}
.our-customers .left-block {
  display: flex;
  align-items: center;
}
.our-customers .left-block .img-item {
  padding-left: 105px;
}
.our-customers .left-block .back-block {
  width: 490px;
  height: 490px;
  border-radius: 50%;
  background-color: #244D4D;
  position: absolute;
  z-index: -1;
}
.our-customers .right-block .title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  max-width: 375px;
  color: #242424;
}
.our-customers .right-block .text {
  font-size: 20px;
  line-height: 27px;
  color: #383738;
  padding: 20px 0 40px;
}
.our-customers .right-block .persons {
  display: flex;
  justify-content: start;
}
.our-customers .right-block .persons .person {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #000000;
}
.our-customers .right-block .persons .person .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.our-customers .right-block .persons .person .avatar img {
  width: 100%;
  height: auto;
}
.our-customers .right-block .persons .person .name {
  padding-bottom: 6px;
}

.subscription {
  background-color: #F4F6F6;
  padding: 70px 300px 55px;
  margin-bottom: 140px;
}
.subscription .title,
.subscription .text,
.subscription #register {
  margin: 0 auto;
}
.subscription .title,
.subscription .text {
  text-align: center;
  color: #222222;
}
.subscription .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 48px;
  width: 580px;
}
.subscription .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 480px;
  padding: 20px 0 40px;
}
.subscription #register {
  width: 472px;
  height: 67px;
  padding: 7px 20px;
  background-color: #fff;
  font-size: 16px;
  color: #BABABA;
  vertical-align: middle;
}
.subscription #register i {
  color: #7f7f7f;
  vertical-align: middle;
}
.subscription #register input {
  height: 100%;
}
.subscription #register #mail-reg {
  width: 275px;
  margin-right: 15px;
  outline: none;
  border: none;
}
.subscription #register #button-reg {
  background-color: #305F64;
  padding: 15px 32px;
  color: #FFFFFF;
  border: 1px solid #305F64;
  transition: all 0.3s;
}
.subscription #register #button-reg:hover {
  background-color: #fff;
  color: #222222;
}

.footer {
  width: 100%;
  background-color: #305F64;
  color: #FFFFFF;
}
.footer .total-block {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 40px;
}
.footer .total-block .dube-shape {
  width: 305px;
}
.footer .total-block .dube-shape .title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
}
.footer .total-block .dube-shape .text {
  font-size: 18px;
  line-height: 26px;
  margin: 25px 0 40px;
}
.footer .total-block .dube-shape .social .title {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 20px;
}
.footer .total-block .dube-shape .social .icons {
  width: 125px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.footer .total-block .dube-shape .social .icons .icon-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}
.footer .total-block .dube-shape .social .icons .icon-circle .icon {
  line-height: 20px;
}
.footer .total-block .dube-shape .social .icons .tw {
  font-size: 12px;
}
.footer .total-block .dube-shape .social .icons .icon-inst::before {
  color: #305F64;
  font-size: 13px;
  line-height: 22px;
}
.footer .total-block .dube-shape .social .icons .youtube {
  font-size: 10px;
  line-height: 22px;
}
.footer .total-block .tour .title,
.footer .total-block .company .title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.footer .total-block .tour .menu,
.footer .total-block .company .menu {
  padding-top: 24px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .total-block .tour .menu a,
.footer .total-block .company .menu a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
}
.footer .total-block .subscrible {
  width: 253px;
}
.footer .total-block .subscrible .title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.footer .total-block .subscrible .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding: 24px 0 40px;
}
.footer .total-block .subscrible #form-footer {
  width: 100%;
  height: 48px;
  padding: 10px 12px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.footer .total-block .subscrible #form-footer input {
  height: 28px;
  margin-left: 12px;
  width: 180px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
}
.footer .total-block .subscrible #form-footer button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FFB624;
}
.footer .copyright {
  text-align: center;
  line-height: 63px;
  font-size: 18px;
  border-top: 1px solid #407980;
}